.root {
	-fx-font-family: "verdana";
	-fx-text-fill: #1a3d77;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-padding: 0px 0px 0px 0px;
}
#background {
    -fx-background-image: url("../images/defaultBG.png");
    -fx-background-position: top;
}
.background {
    -fx-background-image: url("../images/defaultBG.png");
    -fx-background-position: top;
}
.nav_item{
	-fx-background-color: #f4cf22;
	-fx-border-width: 0px 1px 0px 0px;
	-fx-border-color: #1a3d77;
	-fx-font-size: 30;
	-fx-text-fill: #1a3d77;
}
.nav_item:hover, .nav-item:focus{
	-fx-opacity:0.5;
}

.rbbuttons {
	-fx-text-fill: #1a3d77;
}
.nav_item .list-cell{
	-fx-text-fill: #1a3d77;
	-fx-background-color: #f4cf22;
}
.nav_end{
	-fx-background-color: #f4cf22;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-border-color: #000000;
	-fx-font-size: 30;
	-fx-text-fill: #1a3d77;
}
.nav_end:hover, .nav-item:focus{
	-fx-text-fill:rgba(26, 61, 119, 0.5);
}
.homeview_title{
	-fx-text-fill: #1a3d77;
	-fx-font-size: 22px;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-padding: 0px 0px 0px 0px;
}

.homeview_title:visited, .homeview_title:active{
	-fx-text-fill: #1a3d77;
	-fx-font-size: 22px;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-padding: 0px 0px 0px 0px;
	-fx-underline: false;
}

.homeview_title:hover{
	-fx-underline: true;
}

.default_hyperlink{
	-fx-text-fill: #1a3d77;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-padding: 0px 0px 0px 0px;
	-fx-text-decoration: none !important;
}
.default_hyperlink:visited, .default_hyperlink:active{
	-fx-text-fill: #1a3d77;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-padding: 0px 0px 0px 0px;
	-fx-underline: false;
}
.default_hyperlink:hover{
	-fx-underline: true;
}

.label{
	-fx-text-fill: #1a3d77;
}

.form_buttons{
	-fx-background-color: #f4cf22;
	-fx-font-family: "verdana";
	-fx-font-weight:bold;
	-fx-text-fill: #1a3d77;
	-fx-padding: 10px;
}

.form_buttons:hover,.form_buttons:focus{
	-fx-text-fill:rgba(26, 61, 119, 0.5);
}

.redStar{
	-fx-text-fill: red;
}

.settings_title{
	-fx-font-size: 22px;
	-fx-font-style: italic;
	-fx-underline: true;
}

.settings_white{
	-fx-background-color:white;
}
.editableColumn.table-cell { 
-fx-background-color:lightyellow;
-fx-background: lightyellow ;
-fx-alignment:CENTER-RIGHT;
-fx-border-width: .5px; 
-fx-border-style: solid;
-fx-border-color:grey;
}